@{
    ViewBag.Title = "Add";

    var staff = ViewBag.Staff as IEnumerable<MattanaSite.Models.MStaff>;
}



<div class="portlet portlet-boxed">
    <div class="portlet-header">
        <h4 class="portlet-title">
            Thêm lịch công việc
        </h4>
    </div> <!-- /.portlet-header -->

    <div class="portlet-body">
        <div class="row">
            <p class="">@ViewBag.MSG</p>

            <form method="post" onsubmit="if(!confirm('Thêm lịch?')){return false;}" enctype="multipart/form-data" id="formadd">
                <div class="col-sm-12">
                    <p>Bạn đang ở tuần thứ @ViewBag.CurrentWeek năm @DateTime.Now.Year</p>
                </div>


                <div class="col-sm-3">

                    <label>Năm</label>
                    <input type="number" class="form-control changeweek" name="year" value="@ViewBag.Year" id="year"  required/>
                </div>
                <div class="col-sm-3">

                    <label>Tuần</label>
                    <input type="number" class="form-control changeweek" name="week" value="@ViewBag.Week" id="week" required/>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label>Từ ngày</label>
                        <input type="text" class="form-control" name="fdate" value="@ViewBag.FDate"  id="fdate" disabled/>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group">
                        <label>Tới ngày</label>
                        <input type="text" class="form-control" name="tdate" value="@ViewBag.TDate"  id="tdate" disabled />
                    </div>
                </div>
                <div class="col-sm-6">
                    <label>Tiêu đề</label>
                    <input type="text" class="form-control" name="title" value="KẾ HOẠCH LÀM VIỆC TUẦN @ViewBag.Week" />
                </div>
                <div class="col-sm-6">

                    <div class="form-group">
                        <label>Nhân viên</label>
                        <select class="form-control selectpicker" data-live-search="true" name="staffChoose" required id="staff">
                            @foreach (var item in staff)
                            {
                                <option data-tokens="@item.Id @item.FullName" value="@item.Id">@item.FullName - @item.Id</option>
                            }
                        </select>

                    </div>
                </div>


                <div class="col-sm-12">
                    <button type="submit" class="btn btn-primary" onclick="check()">Tạo lịch</button>
                </div>
            </form>
        </div>
    </div>
</div>


@section styles {
    <!-- bootstrap select-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.11.0/css/bootstrap-select.min.css">
}

@section scripts {
    <!-- bootstrap select js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.11.0/js/bootstrap-select.min.js"></script>

    <script type="text/javascript">


        $(document).ready(function () {
            $(window).keydown(function (event) {
                if (event.keyCode == 13) {
                    event.preventDefault();
                    return false;
                }
            });
        });

        $(".changeweek").on('input', function (e) {
            var week = $('#week').val();

            var year = $('#year').val();

            if (week === '' || year === '') {
                alert('Sai tuần và năm');
            } else {
                if (week > 52) {
                    alert('Tuần không lớn hơn 52')
                    $('week').val('52');
                } else {
                    update(week, year);
                }
            }
        });


        function update(week, year) {
            $.ajax({
                type: "GET",
                url: "/calendar/GetDateOfWeek",
                data: { week: week , year : year},
                success: function (response) {

                    $('#fdate').val(response.from);

                    $('#tdate').val(response.to);

                }
            });

        }

    </script>
}