@model MattanaSite.Models.CalendarInfo
@{
    ViewBag.Title = "Edit time";

    var planTime = ViewBag.PlanTime as IEnumerable<MattanaSite.Models.ShowCalendarDay>;
}


<div class="portlet portlet-boxed">
    <div class="portlet-header">
        <h4 class="portlet-title">
            Lịch tuần @Model.WeekOfYear năm @Model.CYear - @Model.MStaff.FullName
        </h4>
    </div> <!-- /.portlet-header -->

    <div class="portlet-body">
        <div class="row">
         
            <form method="get" action="/calendar/FindCalendarPlan">
                <div class="col-sm-3">

                    <label>Năm</label>
                    <input type="number" class="form-control changeweek" name="year" value="@Model.CYear" id="year" />
                </div>
                <div class="col-sm-3">

                    <label>Tuần</label>
                    <input type="number" class="form-control changeweek" name="week" value="@Model.WeekOfYear" id="week" />
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label>Từ ngày</label>
                        <input type="text" class="form-control"value="@Model.FDate" id="fdate" disabled />
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group">
                        <label>Tới ngày</label>
                        <input type="text" class="form-control"  value="@Model.TDate" id="tdate" disabled />
                    </div>
                </div>

                <div class="col-sm-6">
                    <label>Tiêu đề</label>
                    <input type="text" class="form-control" value="@Model.Title" />
                </div>
                <input hidden name="staffId" value="@Model.StaffId" />
                <div class="col-sm-6">
                    <label>Nhân viên</label>
                    <input type="text" class="form-control" value="@Model.MStaff.FullName - @Model.MStaff.Id" />
                </div>

                <div class="col-sm-12">
                    <br />
                    <button type="submit" class="btn btn-primary">Xem</button>
                </div>
            </form>
           
        </div>
    </div>
</div>


<div class="row">
    <div class="col-sm-12">
        <br />
        <fieldset>
            <a href="/calendar/edit/@Model.Id">Chỉnh sửa</a>
            <table class="table table-striped table-bordered thumbnail-table">
                <thead>
                    <tr>
                        <th>Ngày</th>
                        <th>Kế hoạch</th>
                        <th>Thực hiện</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in planTime)
                    {
                        <tr>
                            <td>
                                @item.date <br />
                                @item.dayOfWeek
                            </td>
                            <td>
                                <div>
                                    @foreach (var plan in item.plan)
                                    {
                                        <span>@plan.name - target: @plan.target</span>
                                    }
                                </div>
                            </td>
                            <td>
                                <div>
                                    @foreach (var work in item.work)
                                    {
                                        <span>@work.name</span>
                                    }
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </fieldset>
    </div>


</div>


@section scripts {

    <script type="text/javascript">


        $(document).ready(function () {
            $(window).keydown(function (event) {
                if (event.keyCode == 13) {
                    event.preventDefault();
                    return false;
                }
            });
        });

        $(".changeweek").on('input', function (e) {
            var week = $('#week').val();

            var year = $('#year').val();

            if (week === '' || year === '') {
                alert('Sai tuần và năm');
            } else {
                if (week > 52) {
                    alert('Tuần không lớn hơn 52')
                    $('week').val('52');
                } else {
                    update(week, year);
                }
            }
        });


        function update(week, year) {
            $.ajax({
                type: "GET",
                url: "/calendar/GetDateOfWeek",
                data: { week: week, year: year },
                success: function (response) {

                    $('#fdate').val(response.from);

                    $('#tdate').val(response.to);

                }
            });

        }

    </script>
}